@page "/Login"
@addTagHelper*, Microsoft.AspNetCore.Mvc.TagHelpers
@model BR.MadenIlan.Clients.BlazorServerApp.Pages.LoginModel

<h1>Login</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            @if (!string.IsNullOrEmpty(Model.ErrorMessage))
            {
                <div class="alert alert-warning" role="alert">@Model.ErrorMessage</div>
            }
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="SignInDTO.UserName" class="control-label"></label>
                <input asp-for="SignInDTO.UserName" class="form-control" />
                <span asp-validation-for="SignInDTO.UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SignInDTO.Password" class="control-label"></label>
                <input asp-for="SignInDTO.Password" class="form-control" type="password" />
                <span asp-validation-for="SignInDTO.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" asp-page-handler="Submit" />
            </div>
        </form>
    </div>
</div>

@{
}


