@page "/counter"

@inject HttpClient clinet

<h1>Counter</h1>

<p>Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>



<button class="btn btn-primary" @onclick="GetToken">Get Token</button>

@if (token is not null)
{
    <p>@token.AccessToken</p>
}

@code {
    Token token=null;
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }

    private async Task GetToken()
    {
        token = await clinet.GetFromJsonAsync<Token>("api/Auth/IdentityConnectToken");
    }
}
