@model SignUpDTO
@{
    ViewData["Title"] = "SignUp";
}

<div class="screen-centered">
    <form asp-action="Register" method="post" autocomplete="off">
        @if (ViewBag.ErrorMessage is not null)
        {
            <div class="alert alert-warning" role="alert">@ViewBag.ErrorMessage</div>
        }
        <div class="form-group">
            <label>Kullanıcı Adı</label>
            <input type="text" asp-for="UserName" class="form-control w-100" />
            <span asp-validation-for="UserName"></span>
        </div>
        <div class="form-group">
            <label>Email</label>
            <input type="email" asp-for="Email" class="form-control w-100" />
            <span asp-validation-for="Email"></span>
        </div>
        <div class="form-group">
            <label>Parola</label>
            <input type="password" asp-for="Password" class="form-control w-100" />
            <span asp-validation-for="Password"></span>
        </div>
        <div class="form-group text-center">
            <a class="btn btn-sm btn-info mr-1" asp-action="Login"><i class="fas fa-sign-in-alt"></i>  Giriş Yap</a>
            <button class="btn btn-sm btn-success ml-1" type="submit">
                <i class="fas fa-user-plus"></i> Kayıt Ol
            </button>
        </div>
        <div asp-validation-summary="ModelOnly"> </div>
    </form>
</div>


@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}
